{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% url 'index' as url %}
            <li class="{% if request.path == url %} nav-item active {% endif %}">
                <a class="nav-link" href="{{url}}">Home</a>
            </li>
            {% url 'about' as url %}
            <li class="{% if request.path == url %} nav-item active {% endif %}">
                <a class="nav-link" href="{{url}}">About</a>
            </li>
            {% url 'contact' as url %}
            <li class="{% if request.path == url %} nav-item active {% endif %}">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            {% url 'login' as url %}
            <li class="{% if request.path == url %} nav-item active {% endif %}">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% url 'register' as url %}
            <li class="{% if request.path == url %} nav-item active {% endif %}">
                <a class="nav-link" href="/register" name = 'register'>register</a>
            </li>
            
        </ul>
    </div>
    <hr>
</nav>
