{% extends 'base.html' %}
 {% block content %}

    
 
     <div class="container about-section mt-5">
         <div class="row">
            
             <div class="col-lg-12 text-center">
                 <h1>About Us</h1>
                 <br>
                 <p>
                     Welcome to My Blog! This blog was created to share knowledge, insights, and stories about various topics including web development, programming, and more. Our goal is to provide valuable content to our readers and help them in their journey of learning and growth.
                 </p>
                 <p>
                     Our authors are passionate about technology and education. They come from diverse backgrounds with rich experiences in different fields. Through this platform, they aim to share their expertise and help others.
                 </p>
                 <p>
                     Thank you for visiting our blog. We hope you find our articles helpful and engaging. If you have any questions or feedback, please feel free to reach out to us via the Contact page.
                 </p>
             </div>
         </div>
     </div>
 
    
 
 {% endblock %} 